html {
  font-size: 10px;
}

/** Fuentes **/
/** Colores **/
body.page {
  padding-top: 170px;
  line-height: 2;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

body.page h1, body.page h2, body.page h3, body.page h4 {
  font-family: "Staatliches", cursive;
  margin: 1rem 0;
  line-height: 1.2;
}

body.page h1 {
  font-size: 6rem;
}

body.page h2 {
  font-size: 4.8rem;
}

body.page h3 {
  font-size: 3.6rem;
}

body.page h4 {
  font-size: 2.4rem;
}

body.page hr {
  border: 1px solid #EBEBEB;
}

body.page .btn {
  background-color: #FFFFFF;
  color: #000000;
  padding: 1rem 3rem;
  display: block;
  flex: 1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: .5rem;
}

@media (min-width: 768px) {
  body.page .btn {
    display: inline-block;
    flex: 0 0 auto;
  }
}

body.page .btn.btn-primary {
  background-color: #FF5B00;
  color: #FFFFFF;
  border-color: #FF5B00;
}

body.page .btn.btn-primary:active, body.page .btn.btn-primary:focus, body.page .btn.btn-primary:focus:active {
  background-color: #FF5B00;
}

@media (max-width: 992px) {
  body.page {
    padding-top: 90px;
  }
}

body {
  margin: 0;
}

body.home {
  padding-top: 0;
}

body:not(.home) > .container {
  margin-top: 4rem;
}

.alignfull {
  margin: 0 calc(50% - 50vw);
  max-width: 100vw;
  width: 100vw;
}

body.home nav.navbar-header {
  background-color: transparent !important;
  transition: all .5s;
}

body.home nav.navbar-header.no-top {
  background-color: #343a40 !important;
  transition: all .5s;
}

nav.navbar-header .navbar-brand {
  max-width: 10000px;
  transition: all .5s;
}

@media (max-width: 992px) {
  nav.navbar-header .navbar-brand {
    max-width: 12rem;
  }
}

nav.navbar-header .navbar-brand img {
  width: 100%;
}

nav.navbar-header .navbar-toggler {
  border-color: #FF5B00;
}

nav.navbar-header ul.navbar-nav {
  background-color: #343a40;
}

@media (min-width: 576px) {
  nav.navbar-header ul.navbar-nav {
    background-color: transparent;
  }
}

nav.navbar-header ul.navbar-nav li.nav-item {
  margin-right: 1.5rem;
}

nav.navbar-header ul.navbar-nav li.nav-item:last-of-type {
  margin-right: 0;
}

nav.navbar-header ul.navbar-nav li.nav-item a.nav-link {
  color: #FFFFFF;
  padding: 1rem;
  display: block;
  font-size: 2.6rem;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
  font-family: "Staatliches", cursive;
}

nav.navbar-header ul.navbar-nav li.nav-item a.nav-link:before, nav.navbar-header ul.navbar-nav li.nav-item a.nav-link:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #FF5B00;
  content: '';
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

nav.navbar-header ul.navbar-nav li.nav-item a.nav-link:before {
  top: 0;
  transform: translateY(-10px);
}

nav.navbar-header ul.navbar-nav li.nav-item a.nav-link:after {
  bottom: 0;
  transform: translateY(10px);
}

nav.navbar-header ul.navbar-nav li.nav-item a.nav-link:hover:before, nav.navbar-header ul.navbar-nav li.nav-item a.nav-link:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

nav.navbar-header ul.navbar-nav li.nav-item.active {
  border-bottom: 3px solid #FF5B00;
  border-top: 3px solid #FF5B00;
}

nav.navbar-header ul.navbar-nav li.nav-item.active a {
  color: #FF5B00;
}

nav.navbar-header.no-top .container-fluid {
  transition: all .5s;
}

nav.navbar-header.no-top .container-fluid .navbar-brand {
  max-width: 12rem;
  transition: all .5s;
}

nav.navbar-header.no-top .container-fluid .navbar-brand img {
  width: 100%;
}

nav.navbar-header.no-top .container-fluid ul.navbar-nav li.nav-item a.nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

section.hero {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #FFFFFF;
  text-align: center;
}

section.hero .container {
  max-width: 600px;
}

section.hero .container .title {
  font-family: "Staatliches", cursive;
  margin: 1rem 0;
  line-height: 1.2;
  font-size: 6rem;
  color: #FFFFFF;
}

section.hero .container .subtitle {
  font-size: 2rem;
  color: #FFFFFF;
}

section.text-divider > div {
  padding: 5rem 0;
}

section.text-divider h2 {
  margin-top: 0;
}

section.text-divider p {
  margin-bottom: 0;
}

section.section-areas .content-areas {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

section.section-areas .content-areas .area {
  flex: 0 0 100%;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.section-areas .content-areas .area:after {
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 480px) {
  section.section-areas .content-areas .area {
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  section.section-areas .content-areas .area {
    flex: 0 0 25%;
  }
  section.section-areas .content-areas .area:hover p {
    opacity: 1;
  }
}

section.section-areas .content-areas .area img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

section.section-areas .content-areas .area p {
  position: absolute;
  margin: auto;
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 900;
  z-index: 100;
}

@media (min-width: 768px) {
  section.section-areas .content-areas .area p {
    opacity: 0;
    transition: opacity .5s ease-in;
  }
}

section.section-clases {
  padding: 5rem 0;
  background-color: #EBEBEB;
}

section.section-clases h2 {
  margin-bottom: 4rem;
  text-align: center;
  color: #FF5B00;
}

section.section-clases .card {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 4rem;
  border: none;
}

@media (min-width: 768px) {
  section.section-clases .card:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0.3) 69%, rgba(0, 0, 0, 0.7) 100%);
  }
}

section.section-clases .card .content {
  padding: 2rem;
}

@media (min-width: 768px) {
  section.section-clases .card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    z-index: 2;
  }
}

section.section-clases .card .content a {
  text-decoration: none;
}

section.section-clases .card .content a h3 {
  line-height: 1;
  color: #FF5B00;
}

@media (min-width: 768px) {
  section.section-clases .card .content a h3 {
    color: #FFFFFF;
  }
}

section.section-clases .card .content p {
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

@media (min-width: 768px) {
  section.section-clases .card .content p {
    color: #FF5B00;
  }
}

section.section-instructor {
  padding: 5rem 0;
}

section.section-instructor h2 {
  text-align: center;
  color: #FF5B00;
}

section.section-instructor .subtitle {
  text-align: center;
}

section.section-instructor .card {
  border-radius: 0;
  overflow: hidden;
  margin: 2rem 0;
  border: none;
}

@media (min-width: 768px) {
  section.section-instructor .card:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0.3) 69%, rgba(0, 0, 0, 0.5) 100%);
  }
}

section.section-instructor .card img {
  height: 200px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  section.section-instructor .card img {
    height: 400px;
  }
}

section.section-instructor .card .content {
  padding: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  section.section-instructor .card .content {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    height: 100%;
    transition: opacity .5s ease-out;
    transition-delay: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
  }
  section.section-instructor .card .content:hover {
    opacity: 1;
  }
}

section.section-instructor .card .content .especialidad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

section.section-instructor .card .content .especialidad .tag {
  margin-right: 1rem;
  margin-bottom: .8rem;
  background-color: #FF5B00;
  color: #FFFFFF;
  font-family: "Staatliches", cursive;
  font-size: 2.2rem;
  padding: 0 1rem;
  border-radius: .5rem;
}

@media (min-width: 768px) {
  section.section-instructor .card .content .especialidad .tag {
    padding: .5rem 1.5rem;
  }
}

section.section-blog {
  padding: 5rem 0 3rem;
}

@media (min-width: 768px) {
  section.section-blog {
    padding: 5rem 0;
  }
}

section.section-blog h2 {
  text-align: center;
  color: #FF5B00;
}

section.section-blog .subtitle {
  text-align: center;
}

section.section-blog .card {
  position: relative;
  border: none;
  margin: 2rem auto;
  overflow: hidden;
}

section.section-blog .card img {
  display: block;
  transition: transform .5s ease;
}

section.section-blog .card:hover img {
  transform: scale(1.1);
}

section.section-blog .card:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  section.section-blog .card:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0.3) 69%, rgba(0, 0, 0, 0.5) 100%);
  }
}

section.section-blog .card .content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  text-align: center;
  border-bottom: 3px solid #EBEBEB;
}

@media (min-width: 768px) {
  section.section-blog .card .content {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    border-bottom: none;
  }
}

section.section-blog .card .content .especialidad .tag {
  margin-right: 2rem;
  background-color: #FF5B00;
  color: #FFFFFF;
  font-family: "Staatliches", cursive;
  font-size: 2.2rem;
  padding: .5rem 2rem;
  border-radius: .5rem;
}

section.section-blog .card .content a {
  text-decoration: none;
  color: #000000;
}

@media (min-width: 768px) {
  section.section-blog .card .content a {
    color: #FFFFFF;
  }
}

section.section-blog .card .content h3 {
  margin-bottom: 0;
  color: #FF5B00;
}

@media (min-width: 768px) {
  section.section-blog .card .content h3 {
    color: #FFFFFF;
  }
}

section.section-blog .card .content .meta {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {
  section.section-blog .card .content .meta {
    color: #FFFFFF;
  }
}

section.section-blog .card .content .meta span {
  margin-right: 8px;
  color: #FF5B00;
}

section.section-carousel-testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/testimonial-bg.jpg);
  padding: 12rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

section.section-carousel-testimonial h2 {
  text-align: center;
}

section.section-carousel-testimonial .carousel-inner .carousel-item {
  color: white;
}

section.section-carousel-testimonial .carousel-inner .carousel-item .content {
  width: 100%;
}

@media (min-width: 768px) {
  section.section-carousel-testimonial .carousel-inner .carousel-item .content {
    max-width: 800px;
    margin: 0 auto;
  }
}

section.section-carousel-testimonial .carousel-inner .carousel-item .content .testimonial {
  display: flex;
  align-items: flex-start;
}

section.section-carousel-testimonial .carousel-inner .carousel-item .content .testimonial .img-quote {
  width: 40px;
  margin-right: 2rem;
}

@media (min-width: 576px) {
  section.section-carousel-testimonial .carousel-inner .carousel-item .content .testimonial .img-quote {
    width: auto;
  }
}

section.section-carousel-testimonial .carousel-inner .carousel-item .content .testimonial p {
  text-align: center;
  width: 100%;
}

section.section-carousel-testimonial .carousel-inner .carousel-item .content .footer-carousel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

section.section-carousel-testimonial .carousel-inner .carousel-item .content .footer-carousel img {
  margin-right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

@media (min-width: 576px) {
  section.section-carousel-testimonial .carousel-inner .carousel-item .content .footer-carousel img {
    width: 8rem;
    height: 8rem;
  }
}

section.section-carousel-testimonial .carousel-inner .carousel-item .content .footer-carousel p {
  font-style: italic;
  padding-right: .1rem;
}

section.section-carousel-testimonial .carousel-indicators {
  position: static;
}

section.section-carousel-testimonial .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 1;
}

section.section-carousel-testimonial .carousel-indicators li.active {
  background-color: #FF5B00;
}

footer nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  footer nav {
    flex-direction: row;
  }
}

footer nav .menu {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  footer nav .menu {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  footer nav .menu .menu-item {
    margin-right: 2rem;
  }
  footer nav .menu .menu-item:last-of-type {
    margin-right: 0;
  }
}

footer nav .menu .menu-item a {
  color: #000000;
  text-align: center;
  font-size: 2.4rem;
  font-family: "Staatliches", cursive;
  padding: 0 1rem;
}

footer nav .menu .menu-item.current-page-item {
  border-bottom: 3px solid #FF5B00;
}

footer .copyright {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  footer .copyright {
    font-size: 1.5rem;
    margin: 0;
  }
}

main h2 {
  margin-top: 2rem;
}

main .informacion-clase {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

aside.sidebar .widget {
  padding: 2rem 0;
  border-bottom: 1px solid #EBEBEB;
}

aside.sidebar .widget:first-of-type {
  padding-top: 0;
}

aside.sidebar .widget:last-of-type {
  border-bottom: none;
}

aside.sidebar .widget a {
  color: #000000;
}

aside.sidebar .widget a:hover {
  color: #FF5B00;
}

aside.sidebar .widget ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

aside.sidebar .widget ul li.clase-sidebar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid #EBEBEB;
}

aside.sidebar .widget ul li.clase-sidebar:first-of-type {
  padding-top: 0;
}

aside.sidebar .widget ul li.clase-sidebar:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

aside.sidebar .widget ul li.clase-sidebar .imagen {
  flex: 0 0 30%;
}

aside.sidebar .widget ul li.clase-sidebar .imagen img {
  display: block;
  width: 100%;
  height: auto;
}

aside.sidebar .widget ul li.clase-sidebar .contenido-clase {
  flex: 0 0 calc(70% - 2rem);
}

aside.sidebar .widget ul li.clase-sidebar .contenido-clase h3 {
  margin: 0;
  font-size: 2.2rem;
  color: #FF5B00;
  font-family: "Staatliches", cursive;
  line-height: 1.2;
}

aside.sidebar .widget ul li.clase-sidebar .contenido-clase a {
  color: #FF5B00;
  display: block;
}

aside.sidebar .widget ul li.clase-sidebar .contenido-clase a:hover {
  text-decoration: none;
}

aside.sidebar .widget ul li.clase-sidebar .contenido-clase p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.3rem;
}
