section.hero {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $blanco;
    text-align: center;

    .container {
        max-width: 600px;

        .title {
            font-family: $fuentePrincipal;
            margin: 1rem 0;
            line-height: 1.2;
            font-size: 6rem;
        }

        .subtitle {
            font-size: 2rem;


        }

    }

}