doctype html
html
    include components/head
    body.home.page
        include components/header
        include components/hero
        include components/text-divider
        include components/section-areas
        include components/section-clases
        include components/section-instructores
        include components/section-carousel-testimonial
        include components/section-blog
        include components/footer