doctype html
html
    include components/head
    body.page
        include components/header
        .container
            main.row
                .col-md-8
                    img(src="images/blog3-700x400.jpg").img-fluid
                    h2  Cardio para principiantes
                    p.informacion-clase Martes y Jueves - 6:00 pm - 7:30 pm
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque lectus at nibh eleifend
                       |finibus. Donec posuere ultricies dolor, maximus imperdiet mi porta quis. Sed non nunc tempor,
                       |elementum metus vel, egestas tortor. Sed nisl sem, lobortis a dictum nec, elementum nec mauris.
                       |Nulla vitae nisl egestas, porta erat ac, tristique lorem. Nam ut placerat turpis, id dictum purus.
                       |Ut malesuada consequat lacus, sit amet pretium ex imperdiet sed. Sed a sapien quis eros tristique
                       |imperdiet sit amet id mi. Nunc turpis massa, lacinia vel augue in, pellentesque facilisis nibh.
                       |Etiam quis enim eros. Duis ex massa, imperdiet nec sem interdum, cursus volutpat purus. Aliquam
                       |erat volutpat. Quisque placerat, mauris sit amet pretium maximus, risus nibh rhoncus nulla, eget
                       |mollis arcu nisi ac leo.
                .col-md-4
                    aside.sidebar
                        .widget
                            ul
                                li.clase-sidebar
                                    .imagen
                                        img(src="images/clase5-150x150.jpg")
                                    .contenido-clase
                                        a(href="#")
                                            h3 Levantamiento de pesas para principiantes
                                        p Martes y Jueves - 6:00 pm - 7:30 pm

                                li.clase-sidebar
                                    .imagen
                                        img(src="images/clase5-150x150.jpg")
                                    .contenido-clase
                                        a(href="#")
                                            h3 Masterclass crossfit
                                        p Martes y Jueves - 6:00 pm - 7:30 pm

                                li.clase-sidebar
                                    .imagen
                                        img(src="images/clase5-150x150.jpg")
                                    .contenido-clase
                                        a(href="#")
                                            h3 Masterclass crossfit
                                        p Martes y Jueves - 6:00 pm - 7:30 pm
