html {
    font-size: 10px;
}

@import "components/variables";


body.page {
    @import "components/globals";

    padding-top: 170px;
    line-height: 2;
    font-size: 1.6rem;

    font-family: $fuenteSecundaria;
    @media (max-width: 992px) {
        padding-top: 90px;
    }
}

body {
    margin:0;
    &.home {
        padding-top: 0;
    }

    &:not(.home) > .container {
        margin-top: 4rem;
    }
}

.alignfull {
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
}

@import "components/header";
@import "components/hero";
@import "components/text-divider";
@import "components/section-areas";
@import "components/section-clases";
@import "components/section-instructores";
@import "components/section-blog";
@import "components/section-carousel-testimonial";
@import "components/footer";
@import "components/single";
@import "components/sidebar";

