footer
    .container
        hr
        nav
            ul.menu
                li.menu-item.current-page-item
                    a(href="#") Inicio
                li.menu-item
                    a(href="#") Nosotros
                li.menu-item
                    a(href="#") Galería
                li.menu-item
                    a(href="#") Blog
                li.menu-item
                    a(href="#") Contacto
        p.copyright Todos los derechos reservados. GymTheme 2020