nav.navbar-header.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
    //.no-top
    .container-fluid
        //.container-fluid
        a.navbar-brand
            img(src="images/logo.svg")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarCollapse
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href="#") Inicio
                li.nav-item
                    a.nav-link(href="#") Nosotros
                li.nav-item
                    a.nav-link(href="#") Galería
                li.nav-item
                    a.nav-link(href="#") Blog
                li.nav-item
                    a.nav-link(href="#") Contacto
