section.hero(style="background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(http://gymtheme.cursowp.axel.com/wp-content/uploads/2019/06/hero-index.jpg)")
    .container
        .title Logra tus metas
        .subtitle Proin vitae tristique elit. Aliquam efficitur tempor velit, ac tempus eros hendrerit sed. Quisque non felis a lacus elementum tristique.