section.section-areas
    ul.content-areas
        li.area
            img(src="images/area-yoga-700x400.jpg")
            p Area de yoga
        li.area
            img(src="images/area-pesas-700x400.jpg")
            p Area de pesas
        li.area
            img(src="images/area-cardio-700x400.jpg")
            p Area de cardio
        li.area
            img(src="images/area-aparatos-700x400.jpg")
            p Area de aparatos