section.section-clases
    .container-lg
        h2 Nuestras clases
        .row
            .col-md-6
                .card
                    img(src="images/clase2-700x400.jpg").img-fluid
                    .content
                        a(href="")
                            h3  Kickboxing para principiantes
                        p Jueves y Viernes - 6:00pm - 8:00pm
            .col-md-6
                .card
                    img(src="images/clase3-700x400.jpg").img-fluid
                    .content
                        a(href="")
                            h3  Kickboxing para principiantes
                        p Jueves y Viernes - 6:00pm - 8:00pm
            .col-md-6
                .card
                    img(src="images/clase4-700x400.jpg").img-fluid
                    .content
                        a(href="")
                            h3  Kickboxing para principiantes
                        p Jueves y Viernes - 6:00pm - 8:00pm
            .col-md-6
                .card
                    img(src="images/clase5-700x400.jpg").img-fluid
                    .content
                        a(href="")
                            h3  Kickboxing para principiantes
                        p Jueves y Viernes - 6:00pm - 8:00pm
        .row
            .col-12.text-right
                a(href="#").btn.btn-primary Ver todas las clases