section.section-blog
    .container-lg
        h2 Nuestro blog
        p.subtitle  Aprende tips de nuestros instructores expertos
        .row
            .col-md-6
                .card
                    img(src="images/blog3-700x400.jpg").img-fluid
                    .content
                        .especialidad
                            span.tag Ejercicio
                        .information
                            a(href="#")
                                h3 Ejercicio con barrras
                            p.meta
                                span Por:
                                a(href="#") Axel Loupias
                            p.meta
                                span Fecha:
                                | 29 Junio 2019
            .col-md-6
                .card
                    img(src="images/blog3-700x400.jpg").img-fluid
                    .content
                        .especialidad
                            span.tag Ejercicio
                        .information
                            a(href="#")
                                h3 Ejercicio con barrras
                            p.meta
                                span Por:
                                a(href="#") Axel Loupias
                            p.meta
                                span Fecha:
                                | 29 Junio 2019
            .col-md-6
                .card
                    img(src="images/blog3-700x400.jpg").img-fluid
                    .content
                        .especialidad
                            span.tag Ejercicio
                        .information
                            a(href="#")
                                h3 Ejercicio con barrras
                            p.meta
                                span Por:
                                a(href="#") Axel Loupias
                            p.meta
                                span Fecha:
                                | 29 Junio 2019
            .col-md-6
                .card
                    img(src="images/blog3-700x400.jpg").img-fluid
                    .content
                        .especialidad
                            span.tag Ejercicio
                        .information
                            a(href="#")
                                h3 Ejercicio con barrras
                            p.meta
                                span Por:
                                a(href="#") Axel Loupias
                            p.meta
                                span Fecha:
                                | 29 Junio 2019