section.section-instructor
    .container-lg
        h2 Nuestras clases
        p.subtitle  Instructores profesionales que te ayudarán a logar tus objetivos
        .row
            .col-md-6
                .card
                    img(src="images/instructor2-700x400.jpg").img-fluid
                    .content
                        h3 María
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque lectus at nibh eleifend finibus. Donec posuere ultricies dolor, maximus imperdiet mi porta quis. Sed non nunc tempor, elementum metus vel, egestas tortor. Sed nisl sem.
                        ul.especialidad
                            li.tag Cardio
                            li.tag Acondicionamiento
                            li.tag Yoga
            .col-md-6
                .card
                    img(src="images/instructor3-700x400.jpg").img-fluid
                    .content
                        h3 María
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque lectus at nibh eleifend finibus. Donec posuere ultricies dolor, maximus imperdiet mi porta quis. Sed non nunc tempor, elementum metus vel, egestas tortor. Sed nisl sem.
                        ul.especialidad
                            li.tag Cardio
                            li.tag Acondicionamiento
                            li.tag Yoga
            .col-md-6
                .card
                    img(src="images/instructor4-700x400.jpg").img-fluid
                    .content
                        h3 María
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque lectus at nibh eleifend finibus. Donec posuere ultricies dolor, maximus imperdiet mi porta quis. Sed non nunc tempor, elementum metus vel, egestas tortor. Sed nisl sem.
                        ul.especialidad
                            li.tag Cardio
                            li.tag Acondicionamiento
                            li.tag Yoga
            .col-md-6
                .card
                    img(src="images/instructor1-700x400.jpg").img-fluid
                    .content
                        h3 María
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce scelerisque lectus at nibh eleifend finibus. Donec posuere ultricies dolor, maximus imperdiet mi porta quis. Sed non nunc tempor, elementum metus vel, egestas tortor. Sed nisl sem.
                        ul.especialidad
                            li.tag Cardio
                            li.tag Acondicionamiento
                            li.tag Yoga
