section.text-divider
    .container-lg
        h2 Bienvenidos a nuestro sitio Web
        p Proin vitae tristique elit. Aliquam efficitur tempor velit, ac tempus eros hendrerit sed. Quisque non felis a lacus elementum tristique.